html {
    height: 100%;
    width: 100%;
    background-color: azure;
  }

h1{
  font-size: 36px;
}

.section-heading {
  text-align: center;
}

img{
  width: 500px;
  height: 500px;
}

.kanan{
  float: right;
  width: 45%;
}

.kiri {
  float: left;
  width: 45%;
}