body{
  font-size:20px;
}

section{
  width:100%;
}

.text-center{
  text-align: center;
}

.section-heading{
	color:blue;
	font-size: 35px;
}

#about-section{
  height: auto;
  width: 100%;
}

#myPhoto img{
  height: 220px;
  width: 220px;
}

#about-profile{
 	color:grey;
 	width:80%;
}


#education{
	width:100%;
}

#education img{
	width:1000px;
	height: 500px;
}



/* FAVORITE SECTION */

#favorites{
  width: 100%;
  
}

.col-2 {
	float: left;
	width: 45%;
	margin: 20px;
	padding:10px;
}

#favourites img{
	width:100%;
	border: 2px dashed darkblue;
	
}

#favourites span{
	margin: 20px;
}
section::after{
	content: "";
  	clear: both;
  	display: table;
}




/* PORTFOLIO SECTION */
.portfolio-display{
	margin-bottom: 30px;
	padding: 0 50px;
}

#portfolio .col-3{
	width: 31.7%;
	margin: 10px;
  float: left;
}

.portfolio-img{
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
	position: relative;
}


.portfolio-img img{
  width: 380px;
  height: 300px;
}

.portfolio-text{
  position: absolute;
  height: 100%;
  width: 100%;
  
  top: 0;
  left: 0;
  text-align: center;
  color: transparent;
  transition: 0.5s;
  transition-property: all 0.5s ease-in-out;
}

.portfolio-img:hover .portfolio-text{
	background-color: lightgray;
	opacity: 0.8;
	color: white;
}

.portfolio-img:hover {
	box-shadow: 0 0 10px lightgray;
}



/* SKILL SECTION */

#skills{
	width: 100%;
}

.skills-display{
	padding: 5px;
	margin-bottom: 30px;
}

.skill-progress{
	width: 30%;
	height: 50px;
	background-color: bisque;
	border-width: 15px;
	border-color: black;
	border-radius: 50px;
	margin: 22px;
	overflow: hidden;
	
}

.skill-name{
	text-align: center;
	padding-top: 10px;
}

.skill-progress>div{

	border-radius: 20px 0px 0px 20px;

}

.skill-name span{
margin-left: 10px;
vertical-align: middle;
}