*{
    /*for all text */
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
}

#banner{
    height: 650px;
    background-image: url(images/banner.jpg);
    background: linear-gradient(white, #1eb300);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 140px;
    margin-top: 20px;
}

.banner-text{
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: 20vh;
}

.banner-text h1{
    font-size: 80px;
}

.banner-text p{
    font-size: 30px;
    text-align: center;
}


.banner-btn a{
    /*  Allow to set widht */
    display: inline-block; 
    width: 200px;
    text-decoration: none;
    color: white;
    border: .5px solid white;
    margin: 0 10px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color 0.5s; 
    
}


.banner-btn a span{
    width: 0%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover{
    color: black;
}

.banner-btn a:hover span{
    width: 100%;
}




/* PART2 */
#sideNav {
    width: 150px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1eb300;

    right: -250px;
    /* 
    z-index: 2;
    transition: 0.5s;
      */
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

#menuBtn {
    width: 50px;
    height: 50px;
    position:fixed ;
    top: 5px;
    right: 10px;
    background-color: #1eb300;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;

    /* 
    z-index: 3;
     */
}

#menuBtn img{
    width: 35px;
    margin-top: 6px;
}










/* -----TITLE TEXT----- */


.title-text{
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: 25px;
}

.title-text p{
    margin: 40px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.contents {
    margin: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: block;
    background: linear-gradient(white, #ECFFDC);
    padding: 25px;
    /* position: relative; */
    /* z-index: 1; */

}

.title-text h1{
    font-size: 30px;
    color: #1eb300;
    margin-top: 20px;
}


/* ----- MAKING LEAVE ----- */
.title-text p::after{
    content: '';
    /* to make it able to use widht and height */
    position: absolute;
    width: 50px;
    height: 35px;
    background: linear-gradient(#4cbb17, white);
    
    top: -20px ;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 20px;
}


/* -----FEATURE----- */
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.features{
    flex-basis: 50%;
}

.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}

.features span {
    text-align: left;
    margin: 10px;
    font-weight: 100;
    font-size: 30px;
    color: #1eb300;

}


.features-description{
    /* display: flex;
    align-items: center; */
    margin-bottom: 40px;
}

.features-icon .fas{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #1ca700;
    border: 1px solid #1ca700;
    padding-left: 10px;
    margin-right: 30px;
    margin-left: -100px;
    margin-bottom: 25px;
}


.features-icon .fab{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border: 1px solid #1ca700;
    border-radius: 8px;
    color: #1ca700;
    /* padding-top: 20px; */
    padding-left: 20px;
    margin-right: 30px;
    margin-left: -100px;
    margin-bottom: 25px;
 
}




