*{
    /*for all text */
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
}

#banner{
    height: 650px;
    background-image: url(images/banner.jpg);
    background: linear-gradient(white, #1eb300);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 140px;
    margin-top: 20px;
}

.banner-text{
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: 20vh;
}

.banner-text h1{
    font-size: 80px;
}

.banner-text p{
    font-size: 30px;
    text-align: center;
}


.banner-btn a{
    /*  Allow to set widht */
    display: inline-block; 
    width: 200px;
    text-decoration: none;
    color: white;
    border: .5px solid white;
    margin: 0 10px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color 0.5s; 
    
}


.banner-btn a span{
    width: 0%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover{
    color: black;
}

.banner-btn a:hover span{
    width: 100%;
}




/* PART2 */
#sideNav {
    width: 150px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1eb300;


    /* BUAT NANTI */
    right: -250px;
    /* 
    z-index: 2;
    transition: 0.5s;
      */
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

#menuBtn {
    width: 50px;
    height: 50px;
    position:fixed ;
    top: 5px;
    right: 10px;
    background-color: #1eb300;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;

    /* 
    z-index: 3;
     */
}

#menuBtn img{
    width: 35px;
    margin-top: 6px;
}


/* -----TITLE TEXT----- */
.title-text{
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: 25px;
}

.title-text p{
    margin: 40px;
    font-size: 40px;
    color: black;
    font-weight: bold;

    /* untuk nanti */
    position: relative;
    display: inline-block;
}

.contents {
    margin: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: block;
    background: linear-gradient(white, #ECFFDC);
    padding: 25px;

    /* z-index: 1; */

}

.title-text h1{
    font-size: 30px;
    color: #1eb300;
    margin-top: 20px;
}


/* ----- MAKING LEAVE ----- */
.title-text p::after{
    content: '';
    /* to make it able to use widht and height */
    position: absolute;
    width: 50px;
    height: 35px;
    background: linear-gradient(#4cbb17, white);
    
    top: -20px ;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 20px;
}


/* -----FEATURE----- */
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.features{
    flex-basis: 50%;
}

.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}

.features span {
    text-align: left;
    margin: 10px;
    font-weight: 100;
    font-size: 30px;
    color: #1eb300;

}


.features-description{
    /* display: flex;
    align-items: center; */
    margin-bottom: 40px;
}

.features-icon .fas{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #1ca700;
    border: 1px solid #1ca700;
    padding-left: 10px;
    margin-right: 30px;
    margin-left: -100px;
    margin-bottom: 25px;
}


.features-icon .fab{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border: 1px solid #1ca700;
    border-radius: 8px;
    color: #1ca700;
    /* padding-top: 20px; */
    padding-left: 20px;
    margin-right: 30px;
    margin-left: -100px;
    margin-bottom: 25px;
 
}



/* PART 3 */
#ImpactOnEnvironment{
    width: 100%;
    padding: 70px 0;
    background-color: #efefef;
}

.ImpactEnvironment-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-impact{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    height: 270px;
}

.single-impact img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background : linear-gradient(white, cyan);
    opacity: 0;


    transition: 1s;
    margin-top: -274px;
}

.single-impact:hover .overlay{
    opacity: 1;
}


.impact-description{
    width: 80%;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);


    /* AFTER HOVERING */
    opacity: 0;
    transition: 1s;
    margin-top: -40px;
}

.impact-description p {
    font-size: 16px;
}


.single-impact:hover .impact-description{
    bottom: 40%;
    opacity: 1;
}


/* -----TESTIMONIAL----- */

#testimonial {
    width: 100%;
    padding: 70px 0 ;

}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col{
    flex-basis: 28%;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #7fbf7f;

    /* FOR TRANSFORMING */
    transition: transform 0.5s;
}

.testimonial-col p{
    font-size: 17px;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fa {
    margin: 10px;
    color: blue;
    font-size: 20px;
}

.user-info small{
    color: blue;
}

.testimonial-col:hover{
    transform:translateY(-12px)
}



#footer{
    padding: 10px 0 20px;
    background:  #e4e1e1;
    position: relative;

  }

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .footer-right{
    text-align: right;
    
  }

  .footer-row h1{
    margin: 2px 0;
  }
  .footer-row p{
    line-height: 35px;
    
  }

  /* footer-left .fa {
    font-size: 20px;
    color: #1ca700;
    margin: 10px;
    
    } */

    /* .footer-right .fa {
        font-size: 20px;
      color: #1ca700;
      margin: 10px;
      } */


      .footer-img{
        max-width: 370px;
        opacity: 0.3;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%)
        }
