<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="is-preload">
    <div id="wrapper">

        <header id="header">
            <h1><a href="{{url_for('home')}}">Future Imperfect</a></h1>

            <nav class="links">
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('post')}}">Post</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('login')}}">Login </a></li>
                    <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                </ul>
            </nav>

        </header>











    </div>
</body>
</html>