html{
    background-color: rgb(18, 38, 55);
    color: azure;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contaner{
    width: fit-content;
    height: fit-content;
}


h1{
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 50px;
    text-align: center;
}

#clockdisplay{
    font-family: 'Stick No Bills', sans-serif;
    font-size: 50px;
    border-width: 2px;
    border-color: aliceblue;
    border: 2px solid aliceblue;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

#clockdisplay:hover{
    font-size: 55px;
}