*{
    padding: 0;
    margin: 0;
}


.body-header{
    background-color:#081849;
    width: 100%;
    height: 15%;
} 

#logo img{
	width: 50px;
    border-radius: 50%;
    margin: 12px;
}

#logo-name{
    color: #fafafa;
    font-size: 40px;
    font-weight: bold;
    margin: 12px;
} 

#logo{
    display: flex;
}



/* ------------------------------------------ */


#main-div{
    background:linear-gradient(rgba(245, 75, 24, 0.2), #081849) , url(Home_pics/music_bg3.jpg);
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: cover;
    background-position: center; 
}


.section-heading{
    padding-left: 25%;
    background-color: white;
    margin: 12px;
    font-weight: 500;
    font-size: 40px;
}

.section-content{
	display: flex;
  margin-left: 24px;
  margin-right: 24px;
	flex-wrap:wrap;
	width: 85%;
 
}

.cover-image {
  margin : 10px;
  border : 2px solid white ;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s ease-in-out
}

.cover-image img{
    width: 100%;
    height: 100%;
}

.hover-effect:hover div{
    opacity : 0.6;
    transform : scale(0.8);
}

.hover-effect div:hover{
    opacity : 1.0;
    transform: scale(1.1);
}

.play-song {
    position : relative;
    overflow: hidden;
    height: 150px;
    width: 250px;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 34px;
    margin: 10px;
}

.song-image img {
    width: 78%;   
}	

.song-image {
    width: 120px;
    position: absolute;
    left: 14px;
    top: 23px;
    overflow: hidden;
  }

.play-song h3,h4{
	text-align: left;
    color: white;
    margin-left: 96px;
    font-family: monospace;
}

.play-button{
    display: none;
    position: absolute;
    left: 0;
    top: 21px;
    text-align: left;
    padding-top: 33px;
    font-size: x-large;
    color: white;
    padding-left: 37px;
}

.play-song:hover{
	box-shadow: 0 0 20px 2px #74ADC8;
	 background-color: #16232f52;
}

.play-song:hover .play-button{
	display: block;
}

.artist-image{
    margin: 10px;
    border-radius: 50%;
    border: 3px solid white;
    height: 165px;
    width: 160px;
    overflow: hidden;
}

.artist-image img{
	width: 100%;
	height: 100%;
}

.artist-image:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.artist-image:hover img{
	filter: blur(4px);
}

.artist-image:hover p{
    color: white;
    padding-left: 12px;
    font-size: 20px;
    transform: translateY(-120px);
    transition: 0.5s ease-out;
  }

.artist-image a{
    text-decoration: none;
}


.song-tile{
    box-shadow: 3px 3px 3px #5eb6e9;
    border:2px solid white;
    border-radius: 5px;
    height: 150px;
    width: 140px;
    padding: 5px; 
    margin: 10px; 
    position: relative;
}

.song-tile-image img{
	width: 100%;
	height: 100%; }

.song-tile-image{
	height: 70%;
	width: 100%;}

    .song-tile h3, h4{
        font-size: 14px;
        color: white;
        margin:0px;
        text-align: left;  }

        .song-tile h4{
            margin-left: 0px;}